nav {
  header & {
    //& if it is in the header
    background-color: darken($color: $blue, $amount: 15px);
  }

  .branding {
    margin-top: 5px;
    float: left;
    display: none;
    @include break(1000px) {
      display: block;
    }
  }

  .branding h1 {
    font-size: 2rem;
    overflow: hidden;
    margin: 0;
    color: $red;

    &:hover {
      color: darken($color: $offwhite, $amount: 10px);
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    @include clearfix;
  }

  ul li {
    @include break(760px) {
      float: right;
    }
    padding: 10px 20px;
  }

  ul li a {
    text-decoration: none;
    padding: 10px 5px;
    color: $color-backgrounds;

    &:hover {
      color: $yellow;
    }

    header & :hover {
      background-color: darken($color: $blue, $amount: 30%);
    }

    footer & {
      color: white;
    }
  }

  footer & {
    margin-top: 70px;
    min-height: 80px;
    background-color: darken($color: $blue, $amount: 28%);
    @include break(0, 500px) {
      display: none;
    }
  }
}
