/*! Load Fonts*/

@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Merriweather|Josefin+Slab|Oswald|Bree+Serif);

$offwhite: #f1f1f1;
$darkblue: #0c4958;
$yellow: #e7c76f;
$blue: #0076a3;
$green: #548c27;
$orange: #f39856;
$red: #d14348;
$purple: #6d73c2;

$color-main: $darkblue;
$color-backgrounds: $offwhite;
$color-headlines: $red;
$font-main: Merriweather, Helvetica, sans-serif;
$font-highlight: "Bree Serif", Helvetica, sans-serif;

$small: 450px;
$medium: 760px;
$large: 1200px;
